{% extends "base.html" %}
{%block title_head %}Acerca de Mi{%endblock title_head%}
{% block contenido %}
   <h1>
       Me llamo Araceli, tengo 33 años, soy profesora de Matemática. 
       Actualmente estoy ampliando mi formación en el área tecnológica. 
       Recientemente estudié Análisis de Datos y próximamente realizaré un curso de SQL, 
       ya que busco integrar mis conocimientos matemáticos con herramientas de programación 
       y análisis para desarrollar soluciones más eficientes y orientadas a datos.
   </h1>
{% endblock contenido %}



