 {% extends "base.html" %}
{%block title_head %}Listado Pizzas{%endblock title_head%}
{% block contenido %}
    <form action={% url 'listado_pizzas' %} method="get">
        {{formulario}}
        <input type="submit" value="Buscar">
    </form>
   {% if listado_de_pizzas%}
   <ul>
        {% for pizza in listado_de_pizzas %} 
        <li>
            {{pizza}} 
            | <a href={% url 'ver' pizza.id %}>Ver</a> 
            | <a href={% url 'modificar' pizza.id %}>Actualizar</a>
            | <a href={% url 'eliminar' pizza.id %}>Eliminar</a>
        </li>
        {% endfor%}
    </ul>
    {% else %}
    <p>No se encontraron pedidos</p>
    {% endif %}
{% endblock contenido %}


